.hero {
    padding: 162px 0;
    background: $bg-darkWhithe;

    &__content {
        @include flex(center, center, nowrap);
        
    }

    &__title {
        @include font(500, 48px, $text-black);
    }

    &__btn {
        @include font(400, 16px, $text-white);
        margin-top: 60px;
        width: 255px;
        height: 65px;
        border: none;
        background: $bg-blue;
    }

    &__suptitle {
        @include font(400, 16px, $text-gray);
        margin-top: 60px;
    }
    &__right {
        margin-left: 142px;
    }
    &__suptitle {
        width: 540px;
        height: 67px;
    }
}